$fw-light: 300;
$fw-normal: 400;
$fw-semi: 500;
$fw-bold: 700;
$fs-h1: 1.5rem;
$fs-h2: 2.25rem;
$fs-body: 1rem;
$fs-xl: 4.5rem;
$clr-light: #fff;
$clr-gray: #989898;
$clr-dark: #444;
$clr-accent: #D06D6D;
$clr-accent-dark: #613131;